
<div class="ac-serps__header" data-component="ac_vehicle_search_banner">
  <div class="ac-serps__heading">
    <div class="ch-container">
      <h1 class="ch-pull--left"><%= @ac_vehicle_search.title %>
      </h1>
      <div class="ch-pull--right ac-serps__sort-order">
        <label class="ch-form__control-label ch-reader" for="sort-order">Sort Order for Search Results
        </label>
        <div>
          <select id="sort-order" name="sort_order" class="ch-form__control ch-form__control--sm">
            <option selected="" value="price_up">Price (low to high)
            </option>
            <option value="price_down">Price (high to low)
            </option>
            <option value="mileage">Mileage
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
