<%= content_tag(:div, class: "ch-col--md-12 ch-col--lg-3 ch-col--lg-pull-9", data: { component: "ac_vehicle_search_filter" }.merge(@ac_vehicle_search.current_options)) do %>
  <div class="ac-filters" data-reactid="109">
    <div class="ac-filters__mask" data-reactid="110">
    </div>
    <div class="ac-filters__overlay" data-reactid="111">
      <div class="ac-filters__scroller" data-reactid="112">
        <div class="ch-clearfix ac-filters__header" data-reactid="113">
          <h2 data-reactid="114">Refine your results
          </h2>
          <a rel="nofollow" id="reset-button" class="ch-btn ch-btn--sm ch-btn--link ac-filters__reset gtm-track" data-category="Search" data-action="Reset filters" data-label="Reset(serps)" href="/reset_search?referrer=serps" data-reactid="115">Reset
          </a>
        </div>
        <div class="ac-filters__fields" data-reactid="116">
          <button id="search-button" type="submit" class="ch-btn ch-btn--cta ch-btn--sm ch-btn--block ac-searchbutton--static" data-reactid="117" style="display: block;">Search Cars
          </button>
          <div class="ch-form__group--sm" data-reactid="118">
            <label id="searchTypeLabel" for="search-type" class="ch-form__control-label" data-reactid="119">Car type
            </label>
            <div data-reactid="120">
              <%= select_tag :search_type, options_for_select(@ac_vehicle_search.search_types, @ac_vehicle_search.current_options[:searchType]), class: "ch-form__control", onchange: "filtersChanged(this);"  %>
            </div>
          </div>
          <div class="ch-form__group--sm" data-reactid="130">
            <label for="make" class="ch-form__control-label" data-reactid="131">Make
            </label>
            <div data-reactid="132">
              <%= select_tag :make, options_for_select(@ac_vehicle_search.makes, @ac_vehicle_search.current_options[:make]), class: "ch-form__control", onchange: "filtersChanged(this);" %>
            </div>
          </div>
          <div class="ch-form__group--sm" data-reactid="160">
            <label for="model" class="ch-form__control-label" data-reactid="161">Model
            </label>
            <div data-reactid="162">
              <%= select_tag :model, options_for_select(@ac_vehicle_search.models, @ac_vehicle_search.current_options[:model]), class: "ch-form__control", onchange: "filtersChanged(this);" %>
            </div>
          </div>
          <div class="ch-form__group--sm" data-reactid="166">
            <div class="ch-checkbox" data-reactid="167">
              <label for="photos_only" data-reactid="168">
                <input type="hidden" name="photos_only" value="false" data-reactid="169">
                <input type="checkbox" id="photos_only" name="photos_only" class="ch-checkbox__input" value="true" data-reactid="170">
                <span class="ch-checkbox__switch" data-reactid="171">
                </span>
                <!-- react-text: 172 -->Hide cars without images
                <!-- /react-text -->
              </label>
            </div>
          </div>
          <div class="ch-form__group--sm" data-reactid="173">
            <div class="ch-checkbox" data-reactid="174">
              <label for="unreserved_only" data-reactid="175">
                <input type="hidden" name="unreserved_only" value="false" data-reactid="176">
                <input type="checkbox" id="unreserved_only" name="unreserved_only" class="ch-checkbox__input" value="true" data-reactid="177">
                <span class="ch-checkbox__switch" data-reactid="178">
                </span>
                <!-- react-text: 179 -->Hide reserved cars
                <!-- /react-text -->
              </label>
            </div>
          </div>
          <fieldset data-reactid="180">
            <legend class="ac-filters__heading" data-reactid="181">Budget
            </legend>
            <div class="ac-budgetchooser" data-reactid="182">
              <div class="ch-row ac-row--compact" data-reactid="183">
                <div class="ch-col--xs-12 ac-col--compact" data-reactid="184">
                  <div class="ch-clearfix ac-paymenttoggle" data-reactid="185">
                    <div class="ch-radio ch-radio--collapsed ac-paymenttoggle__radio" data-reactid="186">
                      <input type="radio" class="ch-radio__input" name="payment_type" id="payment-type-cash" value="cash" checked="" data-reactid="187">
                      <label for="payment-type-cash" data-reactid="188">Cash price
                      </label>
                      <span class="ch-radio__switch" data-reactid="189">
                      </span>
                    </div>
                    <div class="ch-radio ch-radio--collapsed ac-paymenttoggle__radio" data-reactid="190">
                      <input type="radio" class="ch-radio__input" name="payment_type" id="payment-type-monthly" value="monthly" data-reactid="191">
                      <label for="payment-type-monthly" data-reactid="192">Pay monthly
                      </label>
                      <span class="ch-radio__switch" data-reactid="193">
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ch-row ac-row--compact" data-reactid="194">
                <div class="ch-form__group--sm ch-col--xs-6 ch-col--lg-12 ac-col--compact ch-col--md-6" data-reactid="195">
                  <div class="ac-budgetchooser__minprice" data-reactid="196">
                    <div data-reactid="197">
                      <label for="min-price" data-reactid="198">Minimum
                      </label>
                      <input type="text" id="min-price" name="min_price" class="ch-form__control" value="" data-reactid="199">
                    </div>
                  </div>
                </div>
                <div class="ch-form__group--sm ch-col--xs-6 ch-col--lg-12 ac-col--compact ch-col--md-6" data-reactid="200">
                  <div class="ac-budgetchooser__maxprice" data-reactid="201">
                    <div data-reactid="202">
                      <label for="max-price" data-reactid="203">Maximum
                      </label>
                      <input type="text" id="max-price" name="max_price" class="ch-form__control" value="" data-reactid="204">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset data-reactid="205">
            <legend class="ac-filters__heading" data-reactid="206">Location
            </legend>
            <div class="ch-form__group--sm" data-reactid="207">
              <label for="vehicle-location" class="ch-form__control-label" data-reactid="208">Find cars near
              </label>
              <div class="" data-reactid="209">
                <input type="text" id="vehicle-location" name="location" class="ch-form__control" placeholder="Postcode, city, etc" value="" data-reactid="210">
                <input type="hidden" name="location_lat" data-reactid="211">
                <input type="hidden" name="location_lng" data-reactid="212">
              </div>
            </div>
            <div class="ch-form__group--sm" data-reactid="213">
              <label for="distance" class="ch-form__control-label" data-reactid="214">Distance
              </label>
              <div data-reactid="215">
                <select id="distance" name="distance" class="ch-form__control" data-reactid="216">
                  <option selected="" value="" data-reactid="217">Any
                  </option>
                  <option value="10" data-reactid="218">10 miles
                  </option>
                  <option value="20" data-reactid="219">20 miles
                  </option>
                  <option value="50" data-reactid="220">50 miles
                  </option>
                  <option value="100" data-reactid="221">100 miles
                  </option>
                  <option value="200" data-reactid="222">200 miles
                  </option>
                </select>
              </div>
            </div>
          </fieldset>
          <fieldset data-reactid="223">
            <legend class="ac-filters__heading" data-reactid="224">Condition
            </legend>
            <div class="ch-form__group--sm" data-reactid="225">
              <label for="mileage" class="ch-form__control-label" data-reactid="226">Mileage (maximum)
              </label>
              <div data-reactid="227">
                <select id="mileage" name="mileage" class="ch-form__control" data-reactid="228">
                  <option selected="" value="" data-reactid="229">Any
                  </option>
                  <option value="500" data-reactid="230">500 miles
                  </option>
                  <option value="1000" data-reactid="231">1000 miles
                  </option>
                  <option value="5000" data-reactid="232">5000 miles
                  </option>
                  <option value="10000" data-reactid="233">10,000 miles
                  </option>
                  <option value="20000" data-reactid="234">20,000 miles
                  </option>
                  <option value="30000" data-reactid="235">30,000 miles
                  </option>
                  <option value="40000" data-reactid="236">40,000 miles
                  </option>
                  <option value="50000" data-reactid="237">50,000 miles
                  </option>
                  <option value="60000" data-reactid="238">60,000 miles
                  </option>
                  <option value="70000" data-reactid="239">70,000 miles
                  </option>
                  <option value="80000" data-reactid="240">80,000 miles
                  </option>
                  <option value="over80000" data-reactid="241">Over 80,000 miles
                  </option>
                </select>
              </div>
            </div>
            <div class="ch-form__group--sm" data-reactid="242">
              <label for="age" class="ch-form__control-label" data-reactid="243">Age (maximum)
              </label>
              <div data-reactid="244">
                <select id="age" name="age" class="ch-form__control" data-reactid="245">
                  <option selected="" value="" data-reactid="246">Any
                  </option>
                  <option value="1" data-reactid="247">1 year
                  </option>
                  <option value="2" data-reactid="248">2 years
                  </option>
                  <option value="3" data-reactid="249">3 years
                  </option>
                  <option value="4" data-reactid="250">4 years
                  </option>
                  <option value="5" data-reactid="251">5 years
                  </option>
                  <option value="6" data-reactid="252">6 years
                  </option>
                  <option value="7" data-reactid="253">7 years
                  </option>
                  <option value="over7" data-reactid="254">Over 7 years
                  </option>
                </select>
              </div>
            </div>
          </fieldset>
          <fieldset data-reactid="255">
            <legend class="ac-filters__heading" data-reactid="256">Specification
            </legend>
            <div class="ch-form__group--sm" data-reactid="257">
              <label for="fuel-type" class="ch-form__control-label" data-reactid="258">Fuel type
              </label>
              <div data-reactid="259">
                <select id="fuel-type" name="fuel_type" class="ch-form__control" data-reactid="260">
                  <option selected="" value="" data-reactid="261">Any
                  </option>
                  <option value="Petrol" data-reactid="262">Petrol
                  </option>
                  <option value="Diesel" data-reactid="263">Diesel
                  </option>
                  <option value="Hybrid" data-reactid="264">Hybrid
                  </option>
                  <option value="Electric" data-reactid="265">Electric
                  </option>
                </select>
              </div>
            </div>
            <div class="ch-form__group--sm" data-reactid="266">
              <label for="transmission" class="ch-form__control-label" data-reactid="267">Gearbox
              </label>
              <div data-reactid="268">
                <select id="transmission" name="transmission" class="ch-form__control" data-reactid="269">
                  <option selected="" value="" data-reactid="270">Any
                  </option>
                  <option value="Manual" data-reactid="271">Manual
                  </option>
                  <option value="Automatic" data-reactid="272">Auto
                  </option>
                  <option value="Semi-Automatic" data-reactid="273">Semi-auto
                  </option>
                </select>
              </div>
            </div>
            <div class="ch-form__group--sm" data-reactid="274">
              <label for="body-type" class="ch-form__control-label" data-reactid="275">Body type
              </label>
              <div class="ac-multigroup ac-multigroup__body_type ac-multigroup--collapsed" data-reactid="276">
                <input type="hidden" name="body_type[]" value="" data-reactid="277">
                <div class="ac-multigroup__checkbox-wrapper" data-reactid="278">
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="279">
                    <label for="body_type--Hatchback" class="ac-multigroup__body_type--hatchback" data-reactid="280">
                      <input type="checkbox" id="body_type--Hatchback" name="body_type[]" class="ch-checkbox__input" value="Hatchback" data-reactid="281">
                      <span class="ch-checkbox__switch" data-reactid="282">
                      </span>
                      <!-- react-text: 283 -->Hatchback
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="284">
                    <label for="body_type--Estate" class="ac-multigroup__body_type--estate" data-reactid="285">
                      <input type="checkbox" id="body_type--Estate" name="body_type[]" class="ch-checkbox__input" value="Estate" data-reactid="286">
                      <span class="ch-checkbox__switch" data-reactid="287">
                      </span>
                      <!-- react-text: 288 -->Estate
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="289">
                    <label for="body_type--Saloon" class="ac-multigroup__body_type--saloon" data-reactid="290">
                      <input type="checkbox" id="body_type--Saloon" name="body_type[]" class="ch-checkbox__input" value="Saloon" data-reactid="291">
                      <span class="ch-checkbox__switch" data-reactid="292">
                      </span>
                      <!-- react-text: 293 -->Saloon
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="294">
                    <label for="body_type--SUV" class="ac-multigroup__body_type--suv" data-reactid="295">
                      <input type="checkbox" id="body_type--SUV" name="body_type[]" class="ch-checkbox__input" value="SUV" data-reactid="296">
                      <span class="ch-checkbox__switch" data-reactid="297">
                      </span>
                      <!-- react-text: 298 -->SUV
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="299">
                    <label for="body_type--People carrier" class="ac-multigroup__body_type--people carrier" data-reactid="300">
                      <input type="checkbox" id="body_type--People carrier" name="body_type[]" class="ch-checkbox__input" value="People carrier" data-reactid="301">
                      <span class="ch-checkbox__switch" data-reactid="302">
                      </span>
                      <!-- react-text: 303 -->People carrier
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="304">
                    <label for="body_type--Convertible" class="ac-multigroup__body_type--convertible" data-reactid="305">
                      <input type="checkbox" id="body_type--Convertible" name="body_type[]" class="ch-checkbox__input" value="Convertible" data-reactid="306">
                      <span class="ch-checkbox__switch" data-reactid="307">
                      </span>
                      <!-- react-text: 308 -->Convertible
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="309">
                    <label for="body_type--Coupe" class="ac-multigroup__body_type--coupe" data-reactid="310">
                      <input type="checkbox" id="body_type--Coupe" name="body_type[]" class="ch-checkbox__input" value="Coupe" data-reactid="311">
                      <span class="ch-checkbox__switch" data-reactid="312">
                      </span>
                      <!-- react-text: 313 -->Coupe
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="314">
                    <label for="body_type--Van" class="ac-multigroup__body_type--van" data-reactid="315">
                      <input type="checkbox" id="body_type--Van" name="body_type[]" class="ch-checkbox__input" value="Van" data-reactid="316">
                      <span class="ch-checkbox__switch" data-reactid="317">
                      </span>
                      <!-- react-text: 318 -->Van
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="319">
                    <label for="body_type--Minibus" class="ac-multigroup__body_type--minibus" data-reactid="320">
                      <input type="checkbox" id="body_type--Minibus" name="body_type[]" class="ch-checkbox__input" value="Minibus" data-reactid="321">
                      <span class="ch-checkbox__switch" data-reactid="322">
                      </span>
                      <!-- react-text: 323 -->Minibus
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="324">
                    <label for="body_type--Pick-up" class="ac-multigroup__body_type--pick-up" data-reactid="325">
                      <input type="checkbox" id="body_type--Pick-up" name="body_type[]" class="ch-checkbox__input" value="Pick-up" data-reactid="326">
                      <span class="ch-checkbox__switch" data-reactid="327">
                      </span>
                      <!-- react-text: 328 -->Pick-up
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="329">
                    <label for="body_type--City car" class="ac-multigroup__body_type--city car" data-reactid="330">
                      <input type="checkbox" id="body_type--City car" name="body_type[]" class="ch-checkbox__input" value="City car" data-reactid="331">
                      <span class="ch-checkbox__switch" data-reactid="332">
                      </span>
                      <!-- react-text: 333 -->City car
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="334">
                    <label for="body_type--Motorbike" class="ac-multigroup__body_type--motorbike" data-reactid="335">
                      <input type="checkbox" id="body_type--Motorbike" name="body_type[]" class="ch-checkbox__input" value="Motorbike" data-reactid="336">
                      <span class="ch-checkbox__switch" data-reactid="337">
                      </span>
                      <!-- react-text: 338 -->Motorbike
                      <!-- /react-text -->
                    </label>
                  </div>
                </div>
                <button type="button" class="ch-btn ch-btn--block ch-btn--sm ch-btn--link js-off--hide ac-multigroup__show-more" data-reactid="339">Show more
                </button>
              </div>
            </div>
            <div class="ch-form__group--sm" data-reactid="340">
              <label for="doors" class="ch-form__control-label" data-reactid="341">Doors
              </label>
              <div class="ac-multigroup ac-multigroup__doors ac-multigroup--collapsed" data-reactid="342">
                <input type="hidden" name="doors[]" value="" data-reactid="343">
                <div class="ac-multigroup__checkbox-wrapper" data-reactid="344">
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="345">
                    <label for="doors--2" class="ac-multigroup__doors--2" data-reactid="346">
                      <input type="checkbox" id="doors--2" name="doors[]" class="ch-checkbox__input" value="2" data-reactid="347">
                      <span class="ch-checkbox__switch" data-reactid="348">
                      </span>
                      <!-- react-text: 349 -->2 doors
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="350">
                    <label for="doors--3" class="ac-multigroup__doors--3" data-reactid="351">
                      <input type="checkbox" id="doors--3" name="doors[]" class="ch-checkbox__input" value="3" data-reactid="352">
                      <span class="ch-checkbox__switch" data-reactid="353">
                      </span>
                      <!-- react-text: 354 -->3 doors
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="355">
                    <label for="doors--4" class="ac-multigroup__doors--4" data-reactid="356">
                      <input type="checkbox" id="doors--4" name="doors[]" class="ch-checkbox__input" value="4" data-reactid="357">
                      <span class="ch-checkbox__switch" data-reactid="358">
                      </span>
                      <!-- react-text: 359 -->4 doors
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="360">
                    <label for="doors--5" class="ac-multigroup__doors--5" data-reactid="361">
                      <input type="checkbox" id="doors--5" name="doors[]" class="ch-checkbox__input" value="5" data-reactid="362">
                      <span class="ch-checkbox__switch" data-reactid="363">
                      </span>
                      <!-- react-text: 364 -->5 doors
                      <!-- /react-text -->
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="ch-form__group--sm" data-reactid="365">
              <label for="seats" class="ch-form__control-label" data-reactid="366">Seats
              </label>
              <div class="ac-multigroup ac-multigroup__seats ac-multigroup--collapsed" data-reactid="367">
                <input type="hidden" name="seats[]" value="" data-reactid="368">
                <div class="ac-multigroup__checkbox-wrapper" data-reactid="369">
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="370">
                    <label for="seats--2" class="ac-multigroup__seats--2" data-reactid="371">
                      <input type="checkbox" id="seats--2" name="seats[]" class="ch-checkbox__input" value="2" data-reactid="372">
                      <span class="ch-checkbox__switch" data-reactid="373">
                      </span>
                      <!-- react-text: 374 -->2 seats
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="375">
                    <label for="seats--4" class="ac-multigroup__seats--4" data-reactid="376">
                      <input type="checkbox" id="seats--4" name="seats[]" class="ch-checkbox__input" value="4" data-reactid="377">
                      <span class="ch-checkbox__switch" data-reactid="378">
                      </span>
                      <!-- react-text: 379 -->4 seats
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="380">
                    <label for="seats--5" class="ac-multigroup__seats--5" data-reactid="381">
                      <input type="checkbox" id="seats--5" name="seats[]" class="ch-checkbox__input" value="5" data-reactid="382">
                      <span class="ch-checkbox__switch" data-reactid="383">
                      </span>
                      <!-- react-text: 384 -->5 seats
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="385">
                    <label for="seats--7" class="ac-multigroup__seats--7" data-reactid="386">
                      <input type="checkbox" id="seats--7" name="seats[]" class="ch-checkbox__input" value="7" data-reactid="387">
                      <span class="ch-checkbox__switch" data-reactid="388">
                      </span>
                      <!-- react-text: 389 -->7 seats
                      <!-- /react-text -->
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="ch-row" data-reactid="390">
              <div class="ch-col--xs-12 ch-col--md-12" data-reactid="391">
                <div class="ch-form__group--sm" data-reactid="392">
                  <label for="min-engine-size" class="ch-form__control-label" data-reactid="393">Engine size (minimum)
                  </label>
                  <div data-reactid="394">
                    <select id="min-engine-size" name="min_engine_size" class="ch-form__control" data-reactid="395">
                      <option selected="" value="" data-reactid="396">No min
                      </option>
                      <option value="945" data-reactid="397">1.0 litre
                      </option>
                      <option value="1145" data-reactid="398">1.2 litres
                      </option>
                      <option value="1345" data-reactid="399">1.4 litres
                      </option>
                      <option value="1545" data-reactid="400">1.6 litres
                      </option>
                      <option value="1745" data-reactid="401">1.8 litres
                      </option>
                      <option value="1945" data-reactid="402">2.0 litres
                      </option>
                      <option value="2145" data-reactid="403">2.2 litres
                      </option>
                      <option value="2345" data-reactid="404">2.4 litres
                      </option>
                      <option value="2545" data-reactid="405">2.6 litres
                      </option>
                      <option value="2745" data-reactid="406">2.8 litres
                      </option>
                      <option value="2945" data-reactid="407">3.0 litres
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="ch-col--xs-12 ch-col--md-12" data-reactid="408">
                <div class="ch-form__group--sm" data-reactid="409">
                  <label for="max-engine-size" class="ch-form__control-label" data-reactid="410">Engine size (maximum)
                  </label>
                  <div data-reactid="411">
                    <select id="max-engine-size" name="max_engine_size" class="ch-form__control" data-reactid="412">
                      <option selected="" value="" data-reactid="413">No max
                      </option>
                      <option value="1044" data-reactid="414">1.0 litre
                      </option>
                      <option value="1244" data-reactid="415">1.2 litres
                      </option>
                      <option value="1444" data-reactid="416">1.4 litres
                      </option>
                      <option value="1644" data-reactid="417">1.6 litres
                      </option>
                      <option value="1844" data-reactid="418">1.8 litres
                      </option>
                      <option value="2044" data-reactid="419">2.0 litres
                      </option>
                      <option value="2244" data-reactid="420">2.2 litres
                      </option>
                      <option value="2444" data-reactid="421">2.4 litres
                      </option>
                      <option value="2644" data-reactid="422">2.6 litres
                      </option>
                      <option value="2844" data-reactid="423">2.8 litres
                      </option>
                      <option value="3044" data-reactid="424">3.0 litres
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="ch-form__group--sm" data-reactid="425">
              <label for="colour" class="ch-form__control-label" data-reactid="426">Colour
              </label>
              <div class="ac-multigroup ac-multigroup__colour ac-multigroup--collapsed" data-reactid="427">
                <input type="hidden" name="colour[]" value="" data-reactid="428">
                <div class="ac-multigroup__checkbox-wrapper" data-reactid="429">
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="430">
                    <label for="colour--White" class="ac-multigroup__colour--white" data-reactid="431">
                      <input type="checkbox" id="colour--White" name="colour[]" class="ch-checkbox__input" value="White" data-reactid="432">
                      <span class="ch-checkbox__switch" data-reactid="433">
                      </span>
                      <!-- react-text: 434 -->White
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="435">
                    <label for="colour--Black" class="ac-multigroup__colour--black" data-reactid="436">
                      <input type="checkbox" id="colour--Black" name="colour[]" class="ch-checkbox__input" value="Black" data-reactid="437">
                      <span class="ch-checkbox__switch" data-reactid="438">
                      </span>
                      <!-- react-text: 439 -->Black
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="440">
                    <label for="colour--Blue" class="ac-multigroup__colour--blue" data-reactid="441">
                      <input type="checkbox" id="colour--Blue" name="colour[]" class="ch-checkbox__input" value="Blue" data-reactid="442">
                      <span class="ch-checkbox__switch" data-reactid="443">
                      </span>
                      <!-- react-text: 444 -->Blue
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="445">
                    <label for="colour--Red" class="ac-multigroup__colour--red" data-reactid="446">
                      <input type="checkbox" id="colour--Red" name="colour[]" class="ch-checkbox__input" value="Red" data-reactid="447">
                      <span class="ch-checkbox__switch" data-reactid="448">
                      </span>
                      <!-- react-text: 449 -->Red
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="450">
                    <label for="colour--Grey" class="ac-multigroup__colour--grey" data-reactid="451">
                      <input type="checkbox" id="colour--Grey" name="colour[]" class="ch-checkbox__input" value="Grey" data-reactid="452">
                      <span class="ch-checkbox__switch" data-reactid="453">
                      </span>
                      <!-- react-text: 454 -->Grey
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="455">
                    <label for="colour--Silver" class="ac-multigroup__colour--silver" data-reactid="456">
                      <input type="checkbox" id="colour--Silver" name="colour[]" class="ch-checkbox__input" value="Silver" data-reactid="457">
                      <span class="ch-checkbox__switch" data-reactid="458">
                      </span>
                      <!-- react-text: 459 -->Silver
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="460">
                    <label for="colour--Green" class="ac-multigroup__colour--green" data-reactid="461">
                      <input type="checkbox" id="colour--Green" name="colour[]" class="ch-checkbox__input" value="Green" data-reactid="462">
                      <span class="ch-checkbox__switch" data-reactid="463">
                      </span>
                      <!-- react-text: 464 -->Green
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="465">
                    <label for="colour--Yellow" class="ac-multigroup__colour--yellow" data-reactid="466">
                      <input type="checkbox" id="colour--Yellow" name="colour[]" class="ch-checkbox__input" value="Yellow" data-reactid="467">
                      <span class="ch-checkbox__switch" data-reactid="468">
                      </span>
                      <!-- react-text: 469 -->Yellow
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="470">
                    <label for="colour--Orange" class="ac-multigroup__colour--orange" data-reactid="471">
                      <input type="checkbox" id="colour--Orange" name="colour[]" class="ch-checkbox__input" value="Orange" data-reactid="472">
                      <span class="ch-checkbox__switch" data-reactid="473">
                      </span>
                      <!-- react-text: 474 -->Orange
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="475">
                    <label for="colour--Beige" class="ac-multigroup__colour--beige" data-reactid="476">
                      <input type="checkbox" id="colour--Beige" name="colour[]" class="ch-checkbox__input" value="Beige" data-reactid="477">
                      <span class="ch-checkbox__switch" data-reactid="478">
                      </span>
                      <!-- react-text: 479 -->Beige
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="480">
                    <label for="colour--Purple" class="ac-multigroup__colour--purple" data-reactid="481">
                      <input type="checkbox" id="colour--Purple" name="colour[]" class="ch-checkbox__input" value="Purple" data-reactid="482">
                      <span class="ch-checkbox__switch" data-reactid="483">
                      </span>
                      <!-- react-text: 484 -->Purple
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="485">
                    <label for="colour--Brown" class="ac-multigroup__colour--brown" data-reactid="486">
                      <input type="checkbox" id="colour--Brown" name="colour[]" class="ch-checkbox__input" value="Brown" data-reactid="487">
                      <span class="ch-checkbox__switch" data-reactid="488">
                      </span>
                      <!-- react-text: 489 -->Brown
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="490">
                    <label for="colour--Pink" class="ac-multigroup__colour--pink" data-reactid="491">
                      <input type="checkbox" id="colour--Pink" name="colour[]" class="ch-checkbox__input" value="Pink" data-reactid="492">
                      <span class="ch-checkbox__switch" data-reactid="493">
                      </span>
                      <!-- react-text: 494 -->Pink
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="495">
                    <label for="colour--Maroon" class="ac-multigroup__colour--maroon" data-reactid="496">
                      <input type="checkbox" id="colour--Maroon" name="colour[]" class="ch-checkbox__input" value="Maroon" data-reactid="497">
                      <span class="ch-checkbox__switch" data-reactid="498">
                      </span>
                      <!-- react-text: 499 -->Maroon
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="500">
                    <label for="colour--Cream" class="ac-multigroup__colour--cream" data-reactid="501">
                      <input type="checkbox" id="colour--Cream" name="colour[]" class="ch-checkbox__input" value="Cream" data-reactid="502">
                      <span class="ch-checkbox__switch" data-reactid="503">
                      </span>
                      <!-- react-text: 504 -->Cream
                      <!-- /react-text -->
                    </label>
                  </div>
                  <div class="ch-checkbox ac-multigroup__checkbox" data-reactid="505">
                    <label for="colour--Gold" class="ac-multigroup__colour--gold" data-reactid="506">
                      <input type="checkbox" id="colour--Gold" name="colour[]" class="ch-checkbox__input" value="Gold" data-reactid="507">
                      <span class="ch-checkbox__switch" data-reactid="508">
                      </span>
                      <!-- react-text: 509 -->Gold
                      <!-- /react-text -->
                    </label>
                  </div>
                </div>
                <button type="button" class="ch-btn ch-btn--block ch-btn--sm ch-btn--link js-off--hide ac-multigroup__show-more" data-reactid="510">Show more
                </button>
              </div>
            </div>
            <div class="ch-form__group--sm" data-reactid="511">
              <label for="keywords" class="ch-form__control-label" data-reactid="512">Keywords
              </label>
              <input type="text" id="keywords" class="ch-form__control" name="keywords" value="" data-reactid="513">
            </div>
          </fieldset>
          <fieldset data-reactid="514">
            <legend class="ac-filters__heading" data-reactid="515">Running costs
            </legend>
            <div class="ch-form__group--sm" data-reactid="516">
              <label for="roadtax-cost" class="ch-form__control-label" data-reactid="517">Road tax (maximum)
              </label>
              <div data-reactid="518">
                <select id="roadtax-cost" name="roadtax_cost" class="ch-form__control" data-reactid="519">
                  <option selected="" value="" data-reactid="520">Any
                  </option>
                  <option value="0" data-reactid="521">Free
                  </option>
                  <option value="20" data-reactid="522">£20
                  </option>
                  <option value="30" data-reactid="523">£30
                  </option>
                  <option value="110" data-reactid="524">£110
                  </option>
                  <option value="135" data-reactid="525">£135
                  </option>
                  <option value="145" data-reactid="526">£145
                  </option>
                  <option value="180" data-reactid="527">£180
                  </option>
                  <option value="290" data-reactid="528">£290
                  </option>
                  <option value="over290" data-reactid="529">Over £290
                  </option>
                </select>
              </div>
            </div>
            <div class="ch-form__group--sm" data-reactid="530">
              <label for="mpg" class="ch-form__control-label" data-reactid="531">Fuel consumption / MPG
              </label>
              <div data-reactid="532">
                <select id="mpg" name="mpg" class="ch-form__control" data-reactid="533">
                  <option selected="" value="" data-reactid="534">Any
                  </option>
                  <option value="40" data-reactid="535">40 MPG +
                  </option>
                  <option value="50" data-reactid="536">50 MPG +
                  </option>
                  <option value="60" data-reactid="537">60 MPG +
                  </option>
                  <option value="70" data-reactid="538">70 MPG +
                  </option>
                </select>
              </div>
            </div>
          </fieldset>
          <button id="secondary-search-button" type="submit" class="ch-btn ch-btn--cta ch-btn--sm ch-btn--block ac-searchbutton--static" data-reactid="539">Search Cars
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

