<%= stylesheet_for_component("ac_spinner") %>

<div class="ac-spinner" data-component="ac_spinner">
  <div ref="loading" class="ac-spinner__mask"></div>
  <div class="ac-spinner__fixed">
    <div class="ch-container">
      <div class="ch-row">
        <div class="ch-col--lg-9 ch-col--lg-push-3">
          <span class="ac-spinner__text">Refining your results</span>
        </div>
      </div>
    </div>
  </div>
</div>

