<link rel="stylesheet" media="screen" href="http://www.arnoldclark.com/assets/vehicles/index-8f935f470f5425626fa70f79a9786b021cc1cfcccefe62252344ba55a9ed1cf5.css">
<% @ac_vehicle_search = Components::AcVehicleSearch.new(state: params) %>

<form id="search" name="search" class="ch-form" action="/vehicles" method="get">
  <%= render 'components/ac_vehicle_search_banner', title: @ac_vehicle_search.title  %>
  <div class="ch-container">

    <div class="ch-row">
      <%= render 'components/ac_vehicle_search_results', vehicles: @ac_vehicle_search.vehicles %>
      <%= render 'components/ac_vehicle_search_filter', search_type: search_type, make: make, model: model, search_types: @ac_vehicle_search.search_types, makes: @ac_vehicle_search.makes, models: @ac_vehicle_search.models %>
    </div>

    <%= render 'components/ac_search_results_pagination', current_page: @ac_vehicle_search.current_page, total_number_of_pages: @ac_vehicle_search.total_number_of_pages %>

  </div>
</form>
