<div class="ch-col--md-10 ch-col--md-push-1 ch-col--lg-9 ch-col--lg-push-3">
  <div class="ac-results ac-results--experiment">
    <% vehicles.each do |vehicle| %>
      <%= render 'components/ac_vehicle', vehicle: vehicle %>
    <% end %>
  </div>
</div>
