<div class="ch-container">
<div class="ac-repexample__container">
<table class="ac-repexample">
  <caption class="ac-repexample__caption">Representative example</caption>
  <tbody class="ac-repexample__body">
    <tr>
      <th>Monthly Payment</th>
      <td><small>£</small>181</td>
    </tr>
    <tr>
      <th>Deposit</th>
      <td><small>£</small>300</td>
    </tr>
    <tr>
      <th>Term (Months)</th>
      <td>60</td>
    </tr>
    <tr>
      <th>Cash Price</th>
      <td><small>£</small>8988</td>
    </tr>
    <tr>
      <th>Credit Amount</th>
      <td><small>£</small>8688</td>
    </tr>
    <tr>
      <th>Completion Fee</th>
      <td><small>£</small>1</td>
    </tr>
    <tr>
      <th>Total Amount Payable</th>
      <td><small>£</small>11,161</td>
    </tr>
    <tr>
      <th>Fixed Interest Rate</th>
      <td>5%</td>
    </tr>
  </tbody>
  <tfoot class="ac-repexample__footer">
    <tr>
      <th class="ac-repexample__hidden">APR Representative</th>
      <td>9.5% APR <small>Representative</small></td>
    </tr>
  </tfoot>
</table>
</div>
<div data-hook="component-b167a6c306"><div class="ac-finance__disclaimer" data-reactroot="" data-reactid="1" data-react-checksum="-2087458155"><small class="ac-type--book" data-reactid="2"><!-- react-text: 3 -->OFFER SUBJECT TO STATUS, TERMS AND CONDITIONS. <!-- /react-text --><a href="/terms-of-use/panel-of-lenders/" id="finance-disclaimer-link" data-reactid="4">CLICK HERE</a><!-- react-text: 5 --> FOR DETAILS INCLUDING OUR PANEL OF LENDERS.<!-- /react-text --></small><div id="lightbox-finance-disclaimer" class="ac-lightbox" data-reactid="6"><div class="ac-lightbox__mask" data-reactid="7"></div><div class="ac-lightbox__content" data-reactid="8"><a href="#" class="ch-btn ch-btn--link ac-lightbox__link" rel="nofollow" data-reactid="9">Close</a><div class="ac-lightbox__scroll" data-reactid="10"><div class="ac-lightbox__body" style="max-height: 354px;" data-reactid="11"><h2 data-reactid="12">Applying for finance</h2><p data-reactid="13"><!-- react-text: 14 -->Arnold Clark Automobiles Limited and Harry Fairbairn Limited act as credit brokers sourcing credit to assist with your purchase from a carefully selected Panel of Lenders (to view <!-- /react-text --><a href="/terms-of-use/panel-of-lenders/" id="finance-disclaimer-lightbox-link" data-reactid="15">click here</a><!-- react-text: 16 -->). Lenders may pay us a fee for these introductions. A guarantor may be required. All offers and credit subject to status, terms and conditions. Applicants must be 18 years or over.<!-- /react-text --></p></div></div></div></div></div></div>

</div>
