<footer class="ch-footer ac-footer">
    <div class="ch-container">
      <a class="ch-brand ch-footer__brand" href="http://www.arnoldclark.com/">Arnold Clark</a>
    </div>
    <div class="ch-container">
      <div class="ch-row">
        <div class="ch-col--sm-6 ch-col--sm-push-6">
          <div class="ac-footer__contact">
            <dl class="ch-row">
              <dt class="ch-col--xs-6">Customer Services:</dt>
              <dd class="ch-col--xs-6">0141 648 1088</dd>
              <dt class="ch-col--xs-6">Car &amp; Van Rental:</dt>
              <dd class="ch-col--xs-6">0141 237 3484</dd>
            </dl>
          </div>
          <nav>
            <ul class="ch-row ac-footer__nav">
              <li class="ch-col--xs-6 ch-col--sm-6 ch-col--md-4"><a href="/customer-services/">Contact Us</a></li>
              <li class="ch-col--xs-6 ch-col--sm-6 ch-col--md-4"><a href="/about-us/">About Us</a></li>
              <li class="ch-col--xs-6 ch-col--sm-6 ch-col--md-4"><a href="//servicebooking.arnoldclark.com/">Book a Service</a></li>
              <li class="ch-col--xs-6 ch-col--sm-6 ch-col--md-4"><a href="//www.autopartsuk.com/">Car Parts</a></li>
              <li class="ch-col--xs-6 ch-col--sm-6 ch-col--md-4"><a href="/newsroom/">Newsroom</a></li>
              <li class="ch-col--xs-6 ch-col--sm-6 ch-col--md-4"><a href="/videos/">Car Video Reviews</a></li>
            </ul>
          </nav>
        </div>
        <div class="ch-col--sm-6 ch-col--sm-pull-6">
          <form class="ac-newsletter" action="https://arnoldclark.createsend.com/t/j/s/hhuthh/" method="post">
            <label for="subscribe-email" class="ch-form__control-label ac-newsletter__label">Receive the latest <span class="ch-reader ch-reader--sm-off">motoring </span>news and offers</label>
            <div class="ac-newsletter__inputgroup">
              <input type="text" name="cm-hhuthh-hhuthh" id="subscribe-email" class="ch-form__control ac-newsletter__input" placeholder="Enter your email">
              <div class="ac-newsletter__btn">
                <button type="submit" class="ch-btn ch-btn--success">Subscribe</button>
              </div>
            </div>
          </form>
          <ul class="ac-social">
            <li class="ac-social__listitem"><a class="ac-social__linkitem--fb" href="https://www.facebook.com/ArnoldClarkAutomobiles/">Facebook</a></li>
            <li class="ac-social__listitem"><a class="ac-social__linkitem--tw" href="https://twitter.com/arnoldclark/">Twitter</a></li>
            <li class="ac-social__listitem"><a class="ac-social__linkitem--ig" href="https://www.instagram.com/arnoldclark_ltd/">Instagram</a></li>
            <li class="ac-social__listitem"><a class="ac-social__linkitem--gp" href="https://plus.google.com/+arnoldclark/posts/">Google Plus</a></li>
            <li class="ac-social__listitem"><a class="ac-social__linkitem--yt" href="https://www.youtube.com/user/ArnoldClarkAutos/">Youtube</a></li>
            <li class="ac-social__listitem"><a class="ac-social__linkitem--pi" href="https://www.pinterest.com/arnoldclark/">Pinterest</a></li>
          </ul>
        </div>
      </div>
      <div class="ch-row">
        <ul class="ac-footer__usps">
          <li class="ch-col--sm-6 ch-col--md-3 ch-h4 ac-usps__one">
            <span class="ac-footer__usp-details">Retailer of the Year <span class="ac-footer__usp-details--sm">2012, 2013, 2014 &amp; 2016</span></span>
          </li>
          <li class="ch-col--sm-6 ch-col--md-3 ch-h4 ac-usps__two">
            <span class="ac-footer__usp-details">Europe's largest <span class="ac-footer__usp-details--sm">independent car retailer</span></span>
          </li>
          <li class="ch-col--sm-6 ch-col--md-3 ch-h4 ac-usps__three">
            <span class="ac-footer__usp-details">60 years' <span class="ac-footer__usp-details--sm">experience in the industry</span></span>
          </li>
          <li class="ch-col--sm-6 ch-col--md-3 ch-h4 ac-usps__four">
            <span class="ac-footer__usp-details">72% <span class="ac-footer__usp-details--sm">of customers saved money</span></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="ch-footer__terms ch-terms ac-footer__terms">
      <ul class="ch-container ch-terms__list">
        <li class="ch-terms__listitem"><a class="ch-terms__listitemlink" href="/terms-of-use/">Terms</a></li>
        <li class="ch-terms__listitem"><a class="ch-terms__listitemlink ac-footer__privacy" href="/cookies/">Privacy &amp; Cookies</a></li>
        <li class="ch-terms__listitem"><a class="ch-terms__listitemlink" href="/terms-of-use/#company-details">Company Details</a></li>
        <li class="ch-terms__listitem">© Arnold Clark Automobiles Limited 2000 – 2016</li>
      </ul>
    </div>
  </footer>
