
<div class="ac-serps__header" data-reactid="5">
  <div class="ac-serps__heading" data-reactid="6">
    <div class="ch-container" data-reactid="7">
      <h1 class="ch-pull--left" data-reactid="8"><%= title %>
      </h1>
      <div class="ch-pull--right ac-serps__sort-order" data-reactid="9">
        <label class="ch-form__control-label ch-reader" for="sort-order" data-reactid="10">Sort Order for Search Results
        </label>
        <div data-reactid="11">
          <select id="sort-order" name="sort_order" class="ch-form__control ch-form__control--sm" data-reactid="12">
            <option selected="" value="price_up" data-reactid="13">Price (low to high)
            </option>
            <option value="price_down" data-reactid="14">Price (high to low)
            </option>
            <option value="mileage" data-reactid="15">Mileage
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
