<!DOCTYPE html>
<html>
  <head>
    <title>WebComponentsRailsExperiment</title>
    <%= csrf_meta_tags %>

<link rel="stylesheet" media="screen" href="http://www.arnoldclark.com/assets/chassis/css/chassis.min.css">
<link rel="stylesheet" media="screen" href="http://www.arnoldclark.com/assets/application-2ac196ba955018be1766136b9feb0ec37f9718452e6a3843d01e763ede8f2d89.css">
<link rel="stylesheet" media="screen" href="http://www.arnoldclark.com/assets/vehicles/index-8f935f470f5425626fa70f79a9786b021cc1cfcccefe62252344ba55a9ed1cf5.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
